﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Generador de Pagos</h3>
    </div>
</div>


<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <form action="/Banco/Lista" method="get" class="input-group mb-3">
            <input type="text" name="celular" autocomplete="off" class="form-control" placeholder="Bucar Cliente por celular" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>    
</div>
