﻿@model IEnumerable<RealState.Web.ViewModels.Clientes.ClienteVM>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Generador de Pagos</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <form action="/Banco/Lista" method="get" class="input-group mb-3">
            <input type="text" name="celular" autocomplete="off" class="form-control" placeholder="Bucar Cliente por celular" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        @if (Model.Count() == 0)
        {
            <p>
                <b>No se encontraron clientes.</b>
            </p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Generar Refefrencia de Pago</th>
                </tr>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.NombreCompleto</td>
                        <td>@cliente.Celular</td>
                        <td>@cliente.Email</td>
                        <td>
                            <br />
                            @foreach (var contrato in cliente.ListaContratos)
                            {
                                <button class="btn btn-success" name="btnGenerateRef" data-contract="@contrato.Id"> @contrato.Numero </button> <br />
                            }
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div name="pagoContent"></div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("button[name=btnGenerateRef]").on('click', function () {
            var contratoId = $(this).attr("data-contract");

            var url = `OrdenPago?contratoId=${contratoId}`;
            $.get(url)
                .done(function (result) {
                    console.log("result", result);
                    $("div[name=pagoContent]").html(result);
                })
                .fail(function (error) {
                    console.log("Error", error);
                    alert("No se pudo genera la orden de pago, intentolo mas tarde");
                });
        });
    </script>
}