﻿@model RealState.Web.Dtos.Banco.Banco

<h3>Orden de Pago</h3>

<div class="row">
    <div class="col-sm-12">
        <header>Desesrt & Asociados</header>
        <br />
        <div>
            <h3>Pagar en Bancomer</h3>
            <label>Numero de Convecion CIE</label>
            <p>
                @Model.PaymentMethod.Agreement
            </p>
        </div>
        <br />
        <div>
            <label>Referencia</label>
            <p>
                @Model.PaymentMethod.Name
            </p>
        </div>
        <br />
        <div>
            <label>Monto</label>
            <p>
                @Model.Amount
            </p>
        </div>
        <br />
        <div>
            <label>Concepto</label>
            <p>
                Pago de Mensualidad
            </p>
        </div>
    </div>
</div>    

