﻿@model RealState.Web.ViewModels.Pagos.AddPagoVM
@{
    ViewBag.Title = "Agregar";
    string message = string.Empty;
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Agregar Pago</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(x => x.Id)

            {
                message = string.Format("Genear Pago a nombre de {0} por la cantidad de ${1}", Model.Nombre, Model.Monto);
            }
            <div class="pago">
                @if(Model.Estatus == false)
                {
                    <p> @Html.Raw(message) </p>
                }
                else
                {
                    <p> El cliente @Model.Nombre Ya ha realizado este pago. </p>
                }
            </div>

            <button type="submit" class="btn btn-primary">Aceptar</button>
            <a href="/Cliente/Lista" class="btn btn-secondary">Cancelar</a>
        }
    </div>
</div>
