﻿@model IEnumerable<RealState.Web.ViewModels.Pagos.PagosVm>
@{
    ViewBag.Title = "Lista";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Lista de Pagos.</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <form action="/Pagos/Lista" method="get" class="input-group mb-3">
            @*<input type="date" name="mes" autocomplete="off" class="form-control" placeholder="Celular" aria-label="" aria-describedby="basic-addon1" />*@
            <select name="mes" class="form-control">
                <option value="0">Selecceione un mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>    
</div>
<br />
<h4>@ViewBag.Month</h4>
<div class="row">
    <div class="col-sm-12">
        @if (Model.Count() == 0)
        {
            <p>
                <b>No se encontraron pagos.</b>
            </p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Contrato</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Mensualidad</th>
                    <th></th>
                </tr>
                @foreach (var pago in Model)
                {
                    <tr>
                        <td>@pago.ContratoNombre</td>
                        <td>@pago.ClienteNombre</td>
                        <td>@pago.Fecha.ToString("dddd, MMMM d, yyyy")</td>
                        <td>@pago.Monto</td>
                        <td>@pago.Mensualidad</td>
                        <td>
                            @Html.ActionLink("Pagar", "Agregar", new { id = pago.PagoId }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>