﻿@model RealState.Web.ViewModels.Lotes.Lotes
@{
    ViewBag.Title = "Detalle";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Detalle de Lote</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <a href="/Lote/Lista" class="btn btn-secondary">
            <i class="fas fa-angle-left"></i>
            Regresar a listado
        </a>
    </div>
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Numero</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Numero, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Medidas</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Medidas, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Precio</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Precio, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Vendido</label>
            <div class="col-sm-8">
                @if (Model.Enable)
                {
                    <input type="text" value="No" class="form-control-plaintext" readonly />
                }
                else
                {
                    <input type="text" value="Si" class="form-control-plaintext" readonly />
                }
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Numero de Parcela</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Parcela, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        @*<button type="button" class="btn btn-primary">Modificar</button>
        @if (Model.Enable)
        {
            <button type="button" class="btn btn-secondary">Marcar como vendido</button>
        }
        else
        {
            <button type="button" class="btn btn-secondary">Marcar como Disponible</button>
        }*@
    </div>
</div>

