﻿@model IEnumerable<RealState.Web.ViewModels.Lotes.Lotes>
@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Lista de Lotes</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <form action="/Lote/Lista" method="get" class="input-group mb-3">
            <input type="text" name="number" autocomplete="off" id="searchLoteText" class="form-control" placeholder="Numero de Lote" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="searchLoteBtn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>    
    <div class="col-sm-12 float-lg-right">
        <a href="/Lote/Agregar" class="btn btn-secondary">
            Agregar Lote
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<br />
<div class="row">
    <!--Partial-->
    <div class="col-sm-12">
        @if (Model.Count() == 0)
        {
            <p>
                <b>No se encontraron lotes.</b>
            </p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Numero</th>
                    <th>Medida</th>
                    <th>Precio</th>
                    <th>Vendido</th>
                    <th>Parcela</th>
                </tr>
                @foreach (var lote in Model)
                {
                    <tr>
                        <td>@lote.Numero</td>
                        <td>@lote.Medidas</td>
                        <td>@lote.Precio</td>
                        <td>
                            @if(lote.Enable)
                            {
                                <span>No</span>
                            }
                            else
                            {
                                <span>Si</span>
                            }
                        </td>
                        <td>@lote.Parcela</td>
                        <td>
                            @Html.ActionLink("Detalle", "Detalle", new { id = lote.Id }, new { @class = "btn btn-primary"})
                        </td>
                    </tr>
                }
            </table>
        }

    </div>
</div>

