﻿@model RealState.Web.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" type="text/css" />

@using (Ajax.BeginForm("Index", "Home", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divEmp",
    InsertionMode = InsertionMode.Replace,
    OnBegin = "OnBegin",
    OnComplete = "OnComplete",
    OnSuccess = "OnSuccess"
}))
{
    @*<div id="divEmp">
            <div class="row text-center">
                <div class="col-md-4 offset-4">
                    <h2>Inicio de sesión</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4 offset-4">
                    @Html.TextBoxFor(x => x.Email)
                </div>
                <div class="col-md-4 offset-4">
                    @Html.PasswordFor(x => x.Contrasena)
                </div>
                <div class="col-md-4 offset-4">
                    <button class="btn btn-primary Entrar" type="submit" id="btnEntrar">Entrar</button>
                    <button class="btn btn-primary Cargando" type="button" disabled style="display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Procesando...
                    </button>
                </div>
            </div>
        </div>*@
    <div id="divEmp">
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="~/Content/descarga.png" id="icon" alt="User Icon" />
                </div>
                <!-- Login Form -->
                <form>
                    @Html.TextBoxFor(x => x.Email, new { @class = "fadeIn second", @placeholder = "Email" })
                    @*<input type="text" id="login" class="fadeIn second" name="login" placeholder="login">*@
                    @Html.PasswordFor(x => x.Contrasena, new { @class = "fadeIn third", @placeholder = "Contraseña" })
                    @*<input type="text" id="password" class="fadeIn third" name="login" placeholder="password">*@
                    <input type="submit" class="fadeIn fourth Entrar" id="btnEntrar" value="Entrar">
                    @*<button class="fadeIn fourth Entrar" type="submit" id="btnEntrar">Entrar</button>*@
                    <button class="fourth Cargando" type="button" disabled style="display: none;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Procesando...
                    </button>
                </form>
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    function OnSuccess(data) {
    }
    function OnBegin(data) {
        $("#btnEntrar").attr("disabled", "disabled");
        $(".Cargando").show();
        $(".Entrar").hide();
    }
    function OnComplete(data) {
        $("#btnEntrar").removeAttr("disabled");
        $(".Cargando").hide();
        $(".Entrar").show();
    }
</script>
