﻿@model RealState.Web.Dtos.Contratos.ContratoIndicadores
@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Sistema de control de pagos D & A</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="indicator">
            <header id="puntualesFiliter" style="cursor:pointer">
                <div class="icon">
                    <i class="fa fa-check-square fa-5x" aria-hidden="true"></i>
                </div>
                <div class="information">
                    <p class="number">@Model.Puntuales</p>
                    <p class="letter">Puntuales</p>
                </div>
            </header>
        </div>
    </div>
    <div class="col-md-4">
        <div class="indicator-overdue">
            <header id="morososFiliter" style="cursor:pointer">
                <div class="icon">
                    <i class="fa fa-user-times fa-5x" aria-hidden="true"></i>
                </div>
                <div class="information">
                    <p class="number">@Model.Morosos</p>
                    <p class="letter">Morosos</p>
                </div>
            </header>
        </div>
    </div>
    <div class="col-md-4">
        <div class="indicator-nextdue">
            <header id="liquidacionFiliter" style="cursor:pointer">
                <div class="icon">
                    <i class="fa fa-server fa-5x" aria-hidden="true"></i>
                </div>
                <div class="information">
                    <p class="number">@Model.Liquidaciones</p>
                    <p class="letter">Liquidaciones</p>
                </div>
            </header>
        </div>
    </div>

    <div id="results" class="container"></div>
    <div id="spinerBlocker" class="spinner-layer"></div>
</div>

<script type="text/javascript">
    document.querySelector("#morososFiliter")
        .addEventListener('click', function () {
            var filtro = 'moroso';
            ObtenerClientePorFiltro(filtro);
        });


    document.querySelector("#puntualesFiliter")
        .addEventListener('click', function () {
            var filtro = 'puntual';
            ObtenerClientePorFiltro(filtro);
        });

    document.querySelector("#liquidacionFiliter")
        .addEventListener('click', function () {
            var filtro = 'liquidacion';
            ObtenerClientePorFiltro(filtro);
        });

    function ObtenerClientePorFiltro(filtro) {
        var base = '@Url.Content("~/")';
        var urlService = `${base}Tablero/ObtenerClientesPorfiltro?filtro=${filtro}`;
        $.get(urlService)
            .then(function (result) {
                $("#results").html(result);
            });
    }

    function showSpinner() {
        document.getElementById("spinerBlocker").style.display = "block";
    }

    function hideSpinner() {
        document.getElementById("spinerBlocker").style.display = "none";
    }

</script>

