﻿@model IEnumerable<RealState.Web.Dtos.Cliente.ClienteFiltroResult>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Contrato</th>
        <th>Lote</th>
        <th>Parcela</th>
    </tr>
    @foreach (var moroso in Model)
    {
        <tr>
            <td>@moroso.Nombre </td>
            <td>@moroso.Contrato </td>
            <td>@moroso.Lote </td>
            <td>@moroso.Parcela </td>
        </tr>
    }

</table>


