﻿@model RealState.Web.ViewModels.Contratos.ContratoCreate
@{
    ViewBag.Title = "Agregar";
    var lotes = Model.Lotes.ToList();

    var listaClientes = Model.Clientes.Select(x => new { value = x.Id, label = x.NombreCompleto }).ToArray();
    //var minDay = $"{DateTime.Today.Year}-{DateTime.Today.Month}-{DateTime.Today.Day}";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Agregar Contratos</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Agregar", "Contrato", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "error-message" })

        <div class="form-group">
            @Html.LabelFor(x => x.Nombre)
            @Html.EditorFor(x => x.Nombre, new { htmlAttributes = new { @class = "form-control", name = "nombre", placeholder = "Nombre", autocomplete = "off" } })
            @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "error-message" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.ParcelaId)
            @Html.DropDownListFor(x => x.ParcelaId, new SelectList(Model.Parcelas, "Id", "Numero"), "--Seleccione una Parcela--", new { @class = "form-control", name = "parcelas" })
            @Html.ValidationMessageFor(x => x.ParcelaId, null, new { @class = "error-message" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.LoteId)
            <select name="LoteId" id="LoteId" class="form-control">
                <option value="0">Seleccione un Lote</option>
            </select>
            @Html.ValidationMessageFor(x => x.LoteId, null, new { @class = "error-message" })
        </div>
        <strong id="PrecioStr"></strong>

        <div class="form-group">
            @Html.LabelFor(x => x.ClienteId)
            <div class="ui-widget">
                <input type="text" name="clienteSource" id="clienteSource" value="" class="form-control" />
                <input type="hidden" name="ClienteId" id="ClienteId" value=""  />
            </div>
            @Html.ValidationMessageFor(x => x.ClienteId, null, new { @class = "error-message" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Enganche)
            @Html.EditorFor(x => x.Enganche, new { htmlAttributes = new { @class = "form-control", name = "enganche", placeholder = "0.00", autocomplete = "off" } })
            @Html.ValidationMessageFor(x => x.Enganche, null, new { @class = "error-message" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.Mensualidades)
            @Html.EditorFor(x => x.Mensualidades, new { htmlAttributes = new { @class = "form-control", name = "mensualidades", placeholder = "15", autocomplete = "off" } })
            @Html.ValidationMessageFor(x => x.Mensualidades, null, new { @class = "error-message" })
        </div>

        <strong id="CostoMensualidad"></strong>
        <br />

        <div class="form-group">
            @Html.LabelFor(x => x.FechaPrimerPago)
            @Html.EditorFor(x => x.FechaPrimerPago, new { htmlAttributes = new { @class = "form-control", name = "fechaprimerpago", placeholder = "01/01/1999", autocomplete = "off" } })
            @Html.ValidationMessageFor(x => x.FechaPrimerPago, null, new { @class = "error-message" })
        </div>

        <button type="submit" class="btn btn-success">Agregar</button>
        <a href="/Contrato/Lista" class="btn btn-secondary">Cancelar</a>
}
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        (function () {
            var listOfClients = @Html.Raw(Json.Encode(listaClientes));
            $("#clienteSource").autocomplete({
                source: listOfClients,
                select: function (event, ui) {
                    $("#clienteSource").val(ui.item.label);
                    $("input[id=ClienteId]").val(ui.item.value);
                    return false;
                }
            });

            let lotes = @Html.Raw(Json.Encode(lotes));

            let dataCompute = {
                precio : 0,
                enganche : 0,
                numeroMensualidades : 0
            };



            let parcelasSelect = $('#ParcelaId option:selected').val();
            function loadLotes(parcelaId) {
                let url = `${geLotesUrl}${parcelaId}`;
                $.get(url)
                    .then(data => {
                        data.Data.forEach(lote => {
                            $("select[name='LoteId']").append(`<option value='${lote.Id}' data-price='${lote.Precio}'>${lote.Numero}</option>`);
                        });
                    })
                    .catch(err => {
                        console.log("ERROR GET CITIES", err);
                    });
            };

            if (parcelasSelect != undefined && parcelasSelect != "" && parcelasSelect != null)
                loadLotes(parcelasSelect);


            $("#ParcelaId").on('change', (evt) => {
                let parcelaId = evt.target[evt.target.selectedIndex].value;
                if(parcelaId !== "" && parcelaId != null && parcelaId != undefined)
                    loadLotes(parcelaId);
                else
                    $("select[name='LoteId']").find('option').not(':first').remove();
            });

            $("select[name='LoteId']").on('change', (evt) => {
                let loteselected = evt.target[evt.target.selectedIndex];
                let price = loteselected.getAttribute('data-price');
                let precioParcela = parseFloat(price);
                if (isNaN(precioParcela)) {
                    document.getElementById('PrecioStr').innerHTML = '';
                    dataCompute.precio = 0;
                    calculaMensualidad();
                }
                else {
                    document.getElementById('PrecioStr').innerHTML = `Precio: $ ${precioParcela.toFixed(2)} MXN`;
                    dataCompute.precio = precioParcela;
                    calculaMensualidad();
                }
            });

            $("#Mensualidades, #Enganche").on('keyup', (e) => {
                let numeroMensualidades = parseInt($("#Mensualidades").val());
                let enganche = parseFloat($("#Enganche").val());

                dataCompute.enganche = enganche;
                dataCompute.numeroMensualidades = numeroMensualidades;

                let mensualidad = 0;
                if (!isNaN(numeroMensualidades) && !isNaN(enganche)) {
                    calculaMensualidad();
                }
            });

            function calculaMensualidad() {
                if (dataCompute.enganche > dataCompute.precio)
                    $("button[type='submit']").attr("disabled", true);
                else
                    $("button[type='submit']").attr("disabled", false);

                const precioTotal = (dataCompute.precio - dataCompute.enganche);
                const mensualidad = precioTotal / dataCompute.numeroMensualidades;

                if (!isNaN(mensualidad) && mensualidad !== Infinity && mensualidad !== -Infinity && mensualidad >= 0) {
                    $("#CostoMensualidad").text(`Mensualidades: $ ${mensualidad.toFixed(2)} MXN`);
                }
            }
        })();

    </script>
}