﻿@model RealState.Web.Dtos.Contratos.ContratoDetailDto
@{
    ViewBag.Title = "Detalle";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Detalle de Contrato</h3>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <a href="/Contrato/Lista" class="btn btn-secondary">
            <i class="fas fa-angle-left"></i>
            Regresar a listado
        </a>
    </div>
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Contrato</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Nombre, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cliente</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.ClienteNombre, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Lote</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.LoteNombre, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Precio</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Precio, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Enganche</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Enganche, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Numero de Parcialdiades</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Parcialidades, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
    </div>
</div>



