﻿@model  IEnumerable<RealState.Web.Dtos.Contratos.ContratoDto>
@{
    ViewBag.Title = "Lista";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Lista de Contratos</h3>
    </div>
</div>

@if(ViewBag.Message != null)
{
    <p class="text-info">@ViewBag.Message</p>
}

<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <form action="/Contrato/Lista" method="get" class="input-group mb-3">
            <input type="text" name="nombre" autocomplete="off" class="form-control" placeholder="Numero de contrato" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 float-right">
        <a href="/Contrato/Agregar" class="btn btn-secondary">
            Nuevo Contrato
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-12">
        @if (Model.Count() == 0)
        {
            <p>
                <b>No se encontraron contratos, agrege uno nuevo.</b>
            </p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Numero</th>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Lote</th>
                    <th></th>
                </tr>
                @foreach (var contrato in Model)
                {
                    <tr>
                        <td>@contrato.Numero</td>
                        <td>@contrato.Fecha</td>
                        <td>@contrato.Cliente</td>
                        <td>@contrato.Lote</td>
                        <td>
                            @Html.ActionLink("Detalle", "Detalle", new { id = contrato.Id}, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

