﻿body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

/*HEADER*/
header.navbar-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #116f6d
}

header.navbar-main li {
  float: left;
}

  header.navbar-main li a, .dropdown-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

    header.navbar-main li a:hover {
      background-color: #293846;
    }

    header.navbar-main li.dropdown {
        display: inline-flex;
    }

header.navbar-main .dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  right: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

  header.navbar-main .dropdown-content a:hover {
    background-color: #f1f1f1
  }

  header.navbar-main .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
  }

.dropdown:hover .dropdown-content {
  display: block !important;
}

/*Side Navigation*/
.sidenav {
  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2f4050;
  overflow-x: hidden;
  padding-top: 20px;
}

  .sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #2f4050;
    width: 100%;
  }

  .sidenav li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    width: 100%;
  }

    .sidenav li a:hover {
      background-color: #293846;
    }

  .sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
  }

aside .logo-menu {
  display: block;
  text-align: center;
  font-size: 17px;
}

    aside .logo-menu > img {
        width: 80%;
        /*border-radius: 50%;*/
    }

.sidemenu-header {
  margin-bottom: 25px;
}

.sidemenu-text {
  padding-left: 2em;
}

/*Content*/
.content {
  background-color: #ddd;
  padding: 10px 20px;
  /*position: fixed;*/
  height: 100%;
  right: 0;
  top: 48px;
  width: 100%;
  ;
}

.carditem {
  background-color: #ffffff;
  border-top: solid 2px #d4cccc;
  margin: 0 0 10px 10px;
  float: left;
  box-shadow: 2px 2px 2px gray;
}

.carditem-title {
  padding: 10px;
  font-size: 14px;
  font-weight: bolder;
  color: #676a6c;
}

.carditem-content {
  border-top: solid 1px #ddd;
  padding: 10px;
}

.header-content {
  text-align: center;
  color: gray;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 50px;
}

/*Media queries*/
@media screen and (max-width : 450px) {
  .sidenav {
    max-width: 200px;
  }
}

@media screen and (min-width: 720px) {
  aside.sidenav {
    display: block !important;
  }

  header.navbar-main {
    left: 249px;
    position: absolute;
    right: 0;
  }

  aside .close-btn, header .burger {
    display: none !important;
  }

  .content {
    padding-left: 265px;
  }
}

/*Site*/
.error-message{
    color:red;
}








/*indicator green*/
.indicator {
    border: 1px solid #5CB85C;
    border-radius: 5px;
}

    .indicator > header {
        background-color: #5CB85C;
        color: white;
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .indicator > header div.icon {
            display: inline-block;
            margin: 5px;
            width: 40%;
        }

        .indicator > header div.information {
            text-align: right;
            display: inline-block;
            width: 40%;
        }

            .indicator > header div.information p.number {
                font-size: 2.7em;
            }

            .indicator > header div.information p.letter {
                font-size: 1.5em;
            }

    .indicator > section.footer {
        font-size: 15px;
        padding: 8px;
        color: #5CB85C;
        background-color: #F8F8F8;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

/*Indicator over due*/
.indicator-overdue {
    border: 1px solid #D9534F;
    border-radius: 5px;
}

    .indicator-overdue > header {
        background-color: #D9534F;
        color: white;
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .indicator-overdue > header div.icon {
            display: inline-block;
            margin: 5px;
            width: 40%;
        }

        .indicator-overdue > header div.information {
            text-align: right;
            display: inline-block;
            width: 40%;
        }

            .indicator-overdue > header div.information p.number {
                font-size: 2.7em;
            }

            .indicator-overdue > header div.information p.letter {
                font-size: 1.5em;
            }

    .indicator-overdue > section.footer {
        font-size: 15px;
        padding: 8px;
        color: #D9534F;
        background-color: #F8F8F8;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

/*Indicator yellow*/
.indicator-nextdue {
    border: 1px solid #F0AD4E;
    border-radius: 5px;
}

    .indicator-nextdue > header {
        background-color: #F0AD4E;
        color: white;
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

        .indicator-nextdue > header div.icon {
            display: inline-block;
            margin: 5px;
            width: 30%;
        }

        .indicator-nextdue > header div.information {
            text-align: right;
            display: inline-block;
            width: 50%;
        }

            .indicator-nextdue > header div.information p.number {
                font-size: 2.7em;
            }

            .indicator-nextdue > header div.information p.letter {
                font-size: 1.5em;
            }

    .indicator-nextdue > section.footer {
        font-size: 15px;
        padding: 8px;
        color: #F0AD4E;
        background-color: #F8F8F8;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

/* spinner layer*/
div.spinner-layer {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    display: none;
}
