﻿@model  RealState.Web.ViewModels.Clientes.ClienteCreate
@{
    ViewBag.Title = "Agregar";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Agregar Cliente</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(x => x.Nombres)
                @Html.EditorFor(x => x.Nombres, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombres", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Nombres, null, new { @class = "error-message" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Apellidos)
                @Html.EditorFor(x => x.Apellidos, new { htmlAttributes = new { @class = "form-control", placeholder = "Apellidos", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Apellidos, null, new { @class = "error-message" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Celular)
                @Html.EditorFor(x => x.Celular, new { htmlAttributes = new { @class = "form-control", placeholder = "6131234567...", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Celular, null, new { @class = "error-message" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "cliente@email.com", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "error-message" })
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <a href="/Cliente/Lista" class="btn btn-secondary">Cancelar</a>
        }
    </div>
</div>

