﻿@model IEnumerable<RealState.Web.ViewModels.Clientes.ClienteVM>
@{
    ViewBag.Title = "Lista";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Lista de Clientes</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <form action="/Cliente/Lista" method="get" class="input-group mb-3">
            <input type="text" name="celular" autocomplete="off" class="form-control" placeholder="Celular" aria-label="" aria-describedby="basic-addon1" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-12 float-right">
        <a href="/Cliente/Agregar" class="btn btn-secondary">
            Agregar Cliente
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-12">
        @if (Model.Count() == 0)
        {
            <p>
                <b>No se encontraron clientes.</b>
            </p>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>contratos</th>
                    <th></th>
                </tr>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.NombreCompleto</td>
                        <td>@cliente.Celular</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.Contratos</td>
                        <td>
                            @Html.ActionLink("Modificar", "Modificar", new { Id = cliente.Id }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

