﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desert y Asociados</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/spin.css" type="text/css" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript">
        //const baseUrl = 'http://localhost:60896/';
        var appPath = "@Url.Content("~/")";
        const baseUrl = "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))";
        let geLotesUrl = `${baseUrl}Contrato/GetLotes?parcela=`;
    </script>
</head>
<body>
    <div>
        <header class="navbar-main">
            <ul>
                <li class="burger">
                    <a href="#" onclick="OpenNav()">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Desert & Asociados
                    </a>
                </li>
                <li style="float:right;" class="dropdown">
                    <a href="#" class="dropdown-btn">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                    <div class="dropdown-content">
                        <a href="@Url.Action("Logout", "Home")">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </header>
        <aside id="sideNav" class="sidenav">
            <div class="sidemenu-header">
                <a href="#" class="logo-menu">
                    <img src="~/Content/descarga.png" id="icon" alt="User Icon" />
                </a>
                <a href="#" class="close-btn" onclick="CloseNav()">
                    <i class="fas fa-times fa-xs"></i>
                </a>
            </div>
            <ul>
                <li>
                    <a href="/Tablero/Inicio">
                        <i class="fas fa-home"></i><span class="sidemenu-text">Inicio</span>
                    </a>
                </li>
                @*<li>
                    <a href="/Banco/Generardor">
                        <i class="fas fa-money-bill-alt"></i><span class="sidemenu-text">Banco</span>
                    </a>
                </li>*@
                <li>
                    <a href="/Contrato/Lista">
                        <i class="fas fa-file-alt"></i><span class="sidemenu-text">Contratos</span>
                    </a>
                </li>
                <li>
                    <a href="/Cliente/Lista">
                        <i class="fas fa-users"></i><span class="sidemenu-text">Clientes</span>
                    </a>
                </li>
                @*<li>
                    <a href="/Pagos/Lista">
                        <i class="fas fa-money-bill-alt"></i><span class="sidemenu-text">Pagos</span>
                    </a>
                </li>*@
                <li>
                    <a href="/Lote/Lista">
                        <i class="fas fa-th-large"></i><span class="sidemenu-text">Lotes</span>
                    </a>
                </li>
                <li>
                    <a href="/Parcela/Lista">
                        <i class="fas fa-object-ungroup"></i><span class="sidemenu-text">Parcelas</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="container-fluid content" style="height:-webkit-fill-available;">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/Site/main.js"></script>
    @*<script src="~/Scripts/Site/spin.js"></script>*@

    @RenderSection("scripts", false)

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("Login", "Home")',
                success: function(data){
                    switch (data) {
                        case false:
                            location.href = '@Url.Action("Index", "Home")';
                            break;
                    }
                }
            });
        });
    </script>
</body>
</html>