﻿@model RealState.Web.ViewModels.Parcelas.ParcelaCreate
@{
    ViewBag.Title = "Agregar";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Agregar Parcelas</h3>
    </div>
</div>

<div class="row">
    <div class="col sm-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.LabelFor(x => x.Numero)
                @Html.EditorFor(x => x.Numero, new { htmlAttributes = new { @class = "form-control", name = "numero", placeholder = "Agregar el numero", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Numero, null, new { @class = "error-message" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Largo)
                @Html.EditorFor(x => x.Largo, new { htmlAttributes = new { @class = "form-control", name = "largo", placeholder = "Agregar el largo", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Largo, null, new { @class = "error-message" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Ancho)
                @Html.EditorFor(x => x.Ancho, new { htmlAttributes = new { @class = "form-control", name = "ancho", placeholder = "Agregar el ancho", autocomplete = "off" } })
                @Html.ValidationMessageFor(x => x.Ancho, null, new { @class = "error-message" })
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <a href="/Parcela/Lista" class="btn btn-secondary">Cancelar</a>
        }
    </div>
</div>

