﻿@model RealState.Web.ViewModels.Parcelas.Parcelas
@{
    ViewBag.Title = "Detalle";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Detalle de Parcela</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Regresar a listado", "Lista", null, new { @class = "btn btn-secondary" })
    </div>
    <div class="col-sm-12">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Numero</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Numero, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Medidas</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Medidas, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Numero de Lotes</label>
            <div class="col-sm-8">
                @Html.EditorFor(x => x.Lotes, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = "readonly" } })
            </div>
        </div>
    </div>
</div>

