﻿@model  IEnumerable<RealState.Web.ViewModels.Parcelas.Parcelas>
@{
    ViewBag.Title = "Lista";
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 class="header-content">Listado de Parcelas</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <a href="/Parcela/Agregar" class="btn btn-secondary">
            Agregar Parcela
            <i class="fas fa-plus"></i>
        </a>

        @if (Model.Count() < 1)
    {
        <p>
            <b>No hay parcelas agregaas en el sistema.</b>
        </p>

}
else
{
    <table class="table">
        <tr>
            <th>Numero</th>
            <th>Medias</th>
            <th>Cantidad de Lotes</th>
            <th></th>
        </tr>
        @foreach (var parcela in Model)
    {
        <tr>
            <td>@parcela.Numero</td>
            <td>@parcela.Medidas</td>
            <td>@parcela.Lotes</td>
            <td>
                @Html.ActionLink("Detalle", "Detalle", new { id = parcela.Id }, new { @class = "btn btn-info" })
            </td>
        </tr>
}
    </table>
}
    </div>
</div>
